@font-face {
    font-family: nb;
    src: url(./assets/NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejouice;
    src: url(./assets/Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #dadada;
}

#page1 #cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#page1 #cursor h5 {
    font-size: 1.147vw;
    font-weight: 100;
}
#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#page1-content nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}

#page1-content nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1 {
    font-family: rejouice;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
}

#page1-content h1 span {
    font-family: rejouice;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}